Source: scibian-libpam-mkhomedir
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends:
 debhelper (>= 9)
Standards-Version: 3.9.3
Section: admin
Vcs-Browser: https://github.com/scibian/scibian-libpam-mkhomedir
Vcs-Git: https://github.com/scibian/scibian-libpam-mkhomedir.git

Package: libpam-mkhomedir-scibian
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libpam-runtime,
 libpam-python,
 acl
Replaces: libpam-mkhomedir-hpc
Breaks: libpam-mkhomedir-hpc
Description: PAM module to create user directories on HPC clusters
 This package provides a PAM module that dynamically creates users directories
 (home, scratch) with restricted rights using ACL if available.
