#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	# PAM config
	# installed here manually because dh_install is not able to rename files
	install -D -m 644 -p debian/libpam-mkhomedir-scibian.pam-auth-update debian/libpam-mkhomedir-scibian/usr/share/pam-configs/mkhomedir-scibian
